:root {
  --main-color-text: #333333;
  --secondary-color-text: #ffffff;

  --logo-color: #28a745;


  --green-background: #28a745;
  --blue-background: #0284d0;
  --phone-color-text: #808080;

}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--secondary-color-text);
  font-size: 18px;
  line-height: 1.56;
}
/*==============general class==============*/

.mark {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  display: block;
}

.container {
  width: 1360px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
  margin: 0 auto;
}

/*==============/general class==============*/

/*==============header ==============*/

.header {
  background-color: grey;
}

.logo {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;

  margin-left: 50px;
  font-size: 35px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-color-text);
}

.logo-decoration {
  color: var(--logo-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-list {
  display: flex;
  margin-left: auto;
}

.header-item {
  margin-right: 38px;
}

.header-link {
  padding-top: 21px;
  padding-bottom: 21px;

  color: var(--secondary-color-text);

  text-decoration: none;
}

/*============== /header ==============*/

/*============== info ==============*/
.info {
  background-color: var(--green-background);
}

.info-description {
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-color-text);
}

.info-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.27;
  color: var(--secondary-color-text);
}
.button,
.info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-color-text);
}

.button {
  font-family: inherit;
  cursor: pointer;
  color: var(--secondary-color-text);
  background-color: var(--green-background);
}
/*============== /info ==============*/

/* Section business */

.business {
  padding: 50px 28px;
}

.business-description {
  margin-bottom: 15px;

  color: var(--main-color-text);

  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}

.business-title {
  margin-bottom: 34px;

  color: var(--main-color-text);

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
}

.business-text {
  padding-bottom: 39px;

  text-align: center;
  color: var(--main-color-text);
}

/* section-business */

.business-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

/* professional team */
.professional-section {
  padding-top: 49px;
  padding-bottom: 59px;
}
.prof-description {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--main-color-text);
}
.prof-title {
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--main-color-text);
}
.prof-text {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color-text);
}
.prof-list {
  display: flex;
  list-style: none;
  column-gap: 35px;
}
.prof-list h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.27;
  text-align: center;
  color: var(--main-color-text);
}
.prof-list p {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color-text);
}

/* Request Callback */

.phone-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--main-color-text);
}

.phone-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--phone-color-text);
}

.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--secondary-color-text);
  background-color: var(#28a745);
  border-radius: 5px;
}

/* footer */
.footer {
  background-color: var(--main-color-text);
}
.footer-list {
  list-style: none;
  text-align: center;
}
.footer-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--secondary-color-text);
}
