:root {
  --main-color-text: #333333;
  --secondary-color-text: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--secondary-color-text);
  font-size: 18px;
  line-height: 1.56;
}
<<<<<<< Updated upstream
=======
/*==============general class==============*/

.underlining {
  text-decoration: none;
}

.mark {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1360px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
  margin: 0 auto;
}

/*==============/general class==============*/

/*==============header ==============*/

.header {
  background-color: grey;
}

.header-logo {
  font-style: normal;
  font-size: 35px;
  line-height: 1.21;
  text-decoration: none;
  color: var(--secondary-color-text);
}

.header-logo span {
  color: var(--green-background);
}

.header-link {
  color: var(--secondary-color-text);
}
/*============== /header ==============*/

/*============== info ==============*/
.info {
  background-color: var(--green-background);
}

.info-description {
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-color-text);
}

.info-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.27;
  color: var(--secondary-color-text);
}
.button,
.info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-color-text);
}

.button {
  font-family: inherit;
  cursor: pointer;
  color: var(--secondary-color-text);
  background-color: var(--green-background);
}
/*============== /info ==============*/
>>>>>>> Stashed changes

/* Section business */

.business {
  padding: 50px 28px;
}

.business-description {
  margin-bottom: 15px;

  color: var(--main-color-text);

  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}

.business-title {
  margin-bottom: 34px;

  color: var(--main-color-text);

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
}

.business-text {
  padding-bottom: 39px;

  text-align: center;
  color: var(--main-color-text);
}
<<<<<<< Updated upstream
=======

.business-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

/* professional team */
.prof-description {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--main-color-text);
}
.prof-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--main-color-text);
}
.prof-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color-text);
}
.prof-list {
  list-style: none;
}
.prof-list h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.27;
  text-align: center;
  color: var(--main-color-text);
}
.prof-list p {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--main-color-text);
}

/* footer */
.footer {
  background-color: var(--main-color-text);
}
.footer-list {
  list-style: none;
  text-align: center;
}
.footer-text {
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--secondary-color-text);
}
>>>>>>> Stashed changes
