<section class="callback-section">
  <div class="container">
    <img
      src="./images/callback/callback.jpg"
      alt="mobile phone"
      width="680"
      height="460"
    />
    <div class="callback-content-wrapper">
      <h3 class="callback-title">Request Callback</h3>
      <ul class="callback-list list">
        <li class="callback-item">Enter your name</li>
        <li class="callback-item">Enter email*</li>
      </ul>
      <button class="button-send" type="button">Send</button>
    </div>
  </div>
</section>
