<header class="header">
  <div class="container">
    <nav class="header-navigation">
      <a class="header-logo link" href="./index.html">
        <img
          class="header-logo-img"
          src="./images/header/logo.svg"
          alt="logo"
          width="39"
          height="30"
        /><span class="header-logo-decoration">Finance</span>
        Ledger
      </a>

      <ul class="header-list list">
        <li class="header-item"><a class="header-link" href="">Home</a></li>
        <li class="header-item">
          <a class="header-link" href="">About</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Cases</a>
        </li>
        <li class="header-item"><a class="header-link" href="">Blog</a></li>
        <li class="header-item">
          <a class="header-link" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
