.button,
.info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-color-text);
}

.button {
  font-family: inherit;
  cursor: pointer;
  color: var(--secondary-color-text);
  background-color: var(--green-background);
  border: transparent;
  border-radius: 5px;
  padding: 10px 30px 9px 41px;
}

.button-primary {
  border: 1px solid var(--secondary-color-text);
}
