.callback-section .container {
  display: flex;
  padding: 0;
}
.callback-content-wrapper {
  padding: 78px 30px 82px 30px;
  background-color: var(--section-about-background);
}
.callback-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 34px;
}

.callback-item {
  font-size: 18px;
  line-height: 1.56;
  color: var(--phone-color-text);
}

.button-send {
  display: inline-block;
  cursor: pointer;
  padding: 7px 277px 10px 291px;
  min-width: 620px;
  height: 42px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--secondary-color-text);
  background-color: var(--green-background);
  border-radius: 5px;
  border: transparent;
}
